{% extends 'base.html'%}

{% block title %}Zoovet{% endblock %}

{% block content %}

{% if form.errors %}
    {% for field in errors %}
    <ul>
        {% for error in field.errors %}
            <li> {{error}} </li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endif %} 


<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-lg btn-primary" type="submit">Adoptar</button>
    <button class="btn btn-lg btn-warming"><a href="{% url 'index' %}">Volver a Zoopet's</a></button>
</form>
{% endblock %}