{% extends 'base.html' %}

{% block title %}clinical Record{% endblock %}

{% block content %}
    <p>{{ animal.name }}</p>
    <p>Día de adopción: {{ animal.adoption_day }}</p>
    <p>Especie: {{ animal.species }}</p>
    <p>Raza: {{ animal.breed }}</p>
    <p>Esterilizado: {{ animal.castrating }}</p>
    <p>Alta: {{ animal.created_at }}</p>
    <p>Actualizado: {{ clinical_record.modified_at }}</p>
    <p>Vacunas: {{ inmunization.vaccine_id }}</p>

    <li><a href="{% url 'animal_edit' animal.id %}">Edita a {{animal.name}}</a></li>
    <li><a href="{% url 'animal_delete' animal.id %}">Elimina a {{animal.name}}</a></li>
    <button><a href="{% url 'index' %}">Volver a Zoopet's</a></button>
    <button><li><a>Historia Clínica</a></li></button>
{% endblock %}