{% extends 'base.html' %}



{% block title %}Home{% endblock %}

{% block content %}

    <h3>{{ animal.name }} {{ animal.species }}</h3>
    <p>Bienvenido el: {{ animal.adoption_day }}</p>
    <p>Esta esterilizado: {{ animal.castrating }}</p>
    <p>Fue dado de alta el: {{ animal.created_at }}</p>
    <p>Actualizaron su archivo el: {{ animal.modified_at }}</p>
    <button class="btn btn-lg btn-warming"><a href="{% url 'record' animal.id %}">Historia Clínica</a></button>
    


        <h3>Estos son tus Zooveterinarios</h3>
            {% for vet in animal.vets.all %}
                <ul>
                    <li>{{vet.user.username}}</li>
                    <li>Clinica {{vet.clinic_name}}</li>
                    <li><a href="">Más detalles</a></li>                
                </ul>
            {% endfor %}
        <a class="btn btn-lg btn-primary" href="{% url 'vetadd' animal.id %}">Agrega un Zooveterinario</a>
        <a class="btn btn-lg btn-warming" href="{% url 'index' %}">Volver a Zoopet's</a>
{% endblock %}