{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <p>{{ animal.name }}</p>
    <p>Bienvenido el: {{ animal.adoption_day }}</p>
    <p>Es un: {{ animal.species }}</p>
    <p>Raza: {{ animal.breed }}</p>
    <p>Esta esterilizado: {{ animal.castrating }}</p>
    <p>Fue dado de alta el: {{ animal.created_at }}</p>
    <p>Actualizaron su archivo el: {{ animal.modified_at }}</p>
    <button><p><a href="{% url 'index' %}">Volver a Zoopet's</a></p></button>
    <li><a href="{% url 'animal_edit' animal.id %}">Edita a {{animal.name}}</a></li>
    <li><a href="{% url 'animal_delete' animal.id %}">Elimina a {{animal.name}}</a></li>
{% endblock %}