{% extends 'base.html' %}

{% block title %}Zoovet Record{% endblock %}

{% block content %}
    <h3>{{ animal.name }}</h3>
    <p>Día de adopción: {{ animal.adoption_day }}</p>
    <p>Especie: {{ animal.species }}</p>
    <p>Raza: {{ animal.breed }}</p>
    <p>Esterilizado: {{ animal.castrating }}</p>
    <p>Alta: {{ animal.created_at }}</p>

    <p>Actualizado: {{ animal.clinicalrecord.create_at }}</p>

    {% for clinicalrecord in animal.clinicalrecord_set.all %}
        <p> Fecha de Examinación: {{ clinicalrecord.examination_date }}</p>
            {% for vaccine in clinicalrecord.vaccines.all %}
                <p>Vacunas: {{ vaccine.name }}</p>
                <li>Aplicación: {{ vaccine.description }}</li>
            {% endfor%}
            {% for antiparasitic in clinicalrecord.antiparasitic.all %}
                <p>Desparasitación: {{ antiparasitic.name }}</p>
                <li>Aplicación: {{ antiparasitic.description }}</li>
            {% endfor %}
    {% endfor %}
    
    
    <button class="btn btn-lg btn-warming"><li><a>Editar</a></li></button>
    <button class="btn btn-lg btn-warming"><a href="{% url 'index' %}">Volver a Zoopet's</a></button>
    <li><a href="{% url 'animal_edit' animal.id %}">Edita a {{animal.name}}</a></li>
    <li><a href="{% url 'animal_delete' animal.id %}">Elimina a {{animal.name}}</a></li>
{% endblock %}