{% extends 'base.html' %}

{% block title %}Record{% endblock %}

{% block content %}
    <h3>{{ animal.name }}</h3>
    <p>Día de adopción: {{ animal.adoption_day }}</p>
    <p>Especie: {{ animal.species }}</p>
    <p>Raza: {{ animal.breed }}</p>
    <p>Esterilizado: {{ animal.castrating }}</p>
    <p>Alta: {{ animal.created_at }}</p>

    <p>Actualizado: {{ clinical_record.modified_at }}</p>
    <p>Vacunas: {{ inmunization.vaccine_id }}</p>
    <p>Desparasitacion: {{ deworming.antiparasitic_id }}</p>
    
    <button><a href="{% url 'index' %}">Volver a Zoopet's</a></button>
    <button><li><a>Editar</a></li></button>
{% endblock %}