<div class ="container">
  <!--div class="col-xs-6"-->
  <div class="contenido">
			<h1 class="titulo"> Servicios </h1>
            <p></p><p>Selecciona el tipo de sercio que buscas:</p><p></p>

            <!-- AQUI SE MUESTRAN LOS SERVICIOS DESDE LA BASE DE DATOS -->
            <ul class="listado-servicios">
              <li class="a" >
                <span class="altura-max">
                  <span class="centrar"></span>
                  <img class="img" src="images/Servicios/estetos.png"></img>
                </span>
                <small>Medicos Veterinarios</small>
              </li>
              <li class="b" >
                <span class="altura-max">
                  <span class="centrar"></span>
                    <img class="img" src="images/Servicios/mas.png"></img>
                  </span>
                  <small>Urgencias 24 hrs</small>
                </li>
                <li class="c">
                  <span class="altura-max">
                  <span class="centrar"></span>
                    <img class="img" src="images/Servicios/mas_chica.png"></img>
                  </span>
                  <small>Consulta a Domicilio</small>
                </li>
                <li class="d">
                  <span class="altura-max">
                  <span class="centrar"></span>
                    <img class="img" src="images/Servicios/escalpelo.png"></img>
                  </span>
                  <small>Cirugías</small>
                </li>

                <li class="e">
                  <span class="altura-max">
                    <span class="centrar"></span>
                    <img class="img" src="images/Servicios/fertilizacion.png">
                  </span>
                  <small>Inseminación Artificial</small>
                </li>
                <li class="f">
                  <span class="altura-max">
                    <span class="centrar"></span>
                    <img class="img" src="images/Servicios/tijera.png">
                  </span>
                  <small>Estetica canina</small>
                </li>
                <li class="g">
                  <span class="altura-max">
                    <span class="centrar"></span>
                    <img class="img" src="images/Servicios/pastillas.png">
                  </span>
                  <small>Farmacia</small>
                </li>
                <li class="h">
                  <span class="altura-max">
                    <span class="centrar"></span>
                    <img class="img" src="images/Servicios/bolsa.png">
                  </span>
                  <small>Pet Shop</small>
                </li>
                <li class="i">
                  <span class="altura-max">
                    <span class="centrar"></span>
                    <img class="img" src="images/Servicios/hueso.png">
                  </span>
                  <small>Alimentos</small>
                  </li>
                  <li class="j">
                    <span class="altura-max">
                      <span class="centrar"></span>
                      <img class="img" src="images/Servicios/perro.png">
                    </span>
                    <small>Lugares Pet-Friendly</small>
                  </li>
             </ul>

        </div>
      <!--/div-->

    </div>