{% extends 'base.html' %}



{% block title %}Home{% endblock %}

{% block content %}
<nav class="navbar navbar-dark bg-dark">
            <h2 class="navbar-brand" href="{% url 'index' %}">Expediente</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample01">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="">Historia Clinica</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Otras opciones</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Editar Perfil</a>
                    <a class="dropdown-item" href="#">Editar Zoopet</a>
                    <a class="dropdown-item" href="#">Agregar Zoovet</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Salir</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form>
            </div>
            </nav>

        <button class="btn btn-lg btn-warming"><a href="{% url 'record' animal.id %}">Historia Clínica</a></button>
    <h3>{{ animal.name }} {{ animal.species }}</h3>
            <p>Esterilizado: {{ animal.castrating }}</p>
            <p>Fue dado de alta el: {{ animal.created_at }}</p>
            <p>Actualizaron su archivo el: {{ animal.modified_at }}</p>
    


        <h3>Zoovet Veterinario: </h3>
            {% for vet in animal.vets.all %}
                <ul>
                    <li>MVZ {{vet.user.username}}</li>
                    <p>Clinica {{vet.clinic_name}}</p>
                    <!--<li><a href="">Más detalles</a></li>-->                
                </ul>
                <!--<ul>
                    <li>{{vet.user.username}}</li>
                    <li>Clinica {{vet.clinic_name}}</li>
                    <li><a href="">Más detalles</a></li>                
                </ul>-->
            {% endfor %}
        
        <a class="btn btn-lg btn-warming" href="{% url 'index' %}">Volver a Zoopet's</a>
{% endblock %}