{% extends 'base.html' %}

{% block title %}Zoovet Record{% endblock %}

{% block content %}
<nav class="navbar navbar-dark bg-dark">
            <h2 class="navbar-brand" href="#">{{ user.username.upper }}, esta es tu historia en Zoovet con {{animal.name}} !</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample01">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="">Historia Clinica</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Otras opciones</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{% url 'animal_delete' animal.id %}">Elimina a {{animal.name}}</a>
                    <a class="dropdown-item" href="#">Editar Perfil</a>
                    <a class="dropdown-item" href="{% url 'animal_edit' animal.id %}">Edita a {{animal.name}}</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Salir</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form>
            </div>
            </nav>

    <div class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object img-thumbnail" ng-src ="{{ animal.image }}" alt = "{{ animal.name }}" cheight="110" width="110height="110" width="110">
                </a>
            </div>
    </div>

    <h2>{{ animal.name }}</h2>
    <p>Día de adopción: {{ animal.adoption_day }}</p>
    <p>Especie: {{ animal.species }}</p>
    <p>Raza: {{ animal.breed }}</p>
    <p>Esterilizado: {{ animal.castrating }}</p>
    <p>Alta: {{ animal.created_at }}</p>
    <p>Actualizado: {{ animal.modified_at }}</p>
    <p><a href=""> Dx última visita: {{ clinicalrecord.diagnostic }} </a></p>

    {% for clinicalrecord in animal.clinicalrecord_set.all %}
        <p> Fecha de Examinación: {{ clinicalrecord.examination_date }}</p>

            {% for vaccine in clinicalrecord.vaccines.all %}
                <h3>Vacunas: {{ vaccine.name }}</h3>
                <li>Aplicación: {{ inmunization.application_date }}</li>
            {% endfor%}
            {% for antiparasitic in clinicalrecord.antiparasitic.all %}
                <h3>Desparasitación: {{ antiparasitic.name }}</h3>
                <li>Aplicación: {{ deworming.application_date }}</li>
            {% endfor %}
    {% endfor %}
    <a class="btn btn-lg btn-primary" href="{% url 'vetadd' animal.id %}">Agrega un Zooveterinario</a>
    <button class="btn btn-lg btn-warming"><a href="{% url 'index' %}">Volver a Zoopet's</a></button>

{% endblock %}