{% extends 'base.html'%}

{% block title %}Zoovet{% endblock %}

{% block content %}

<html>
    <head>
        <meta chartset="utf-8">
        <link href="signin.css" rel="stylesheet">
        <title> Login </title>
    </head>
    <body>
        <div>
            <form class="form-signin">
                <img class="mb-4" src="/static/img/Zoovet1.png" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Ingresa a Zoovet</h1>
            </form>   
            <form method="POST">
                
                {% csrf_token %}
                {{ form.as_p }}
                    <button class="btn btn-lg btn-primary" type="submit">Login</button>
                <li><a href="{% url 'signup' %}">Quiero unirme a Zoovet</a></li>
                <li><a href="{% url 'password_reset' %}">Olvide mi contraseña</a></li>
            </form>
        </div>
    </body>
</html>

{% endblock %}